.container-form{
    text-align: center;
    background-color:white;
    margin: 50px;
}

.btn-cad{
    display:flex;
    flex-direction: column;
    background-color:#0099ff;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;

}
  .btn-cad:hover{
    transform: scale(1.05);
  }

  .btn-list{
    display:flex;
    flex-direction: column;
    background-color:#0099ff;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }

  .btn-list:hover{
    transform: scale(1.05);
  }

.link{
    text-decoration: none;
}